/* All Codes */

*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
/*
body{
    background-color: #0a9e79;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
*/

/*

---Main Things---

Koyu lacivert: #2B3A67
Şarap bordosu: #732C38
Koyu kahverengi: #4A3F35
Krem rengi: #F5E1DA
Koyu zeytin yeşili: #556B2F
Gül kurusu: #C08081
Fildişi Beyazı: #FFFFF0

background-color: #0a9e79;

font-family: "Funnel Display", sans-serif;

font-family: "Bebas Neue", sans-serif;

font-family: "Open Sans", sans-serif;

font-family: "Inter", sans-serif;

font-family: "Playfair Display", serif;

<i class="fa-solid fa-caret-down"></i>
<i class="fa-solid fa-house"></i>
<i class="fa-duotone fa-solid fa-user"></i>
<div id="navbar"></div>
<div id="solmenu"></div>
<div id="content"></div>
<div id="footer"></div>

*/

/* All */

.font_family_funnel_display{
    font-family: "Funnel Display", sans-serif;
}

.font_family_playfair_display{
    font-family: "Playfair Display", serif;
}

.font_family_inter{
    font-family: "Inter", sans-serif;
}

.font_family_babas_neue{
    font-family: "Bebas Neue", sans-serif;
}

.font_family_open_sans{
    font-family: "Open Sans", sans-serif;
}

.font_family_source_sans_3{
    font-family: "Source Sans 3", sans-serif;
}

.font_family_montserrat{
    font-family: "Montserrat", sans-serif;
}

#head{
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:    
    linear-gradient(rgba(55, 103, 126, 0.5),rgba(55, 103, 126, 0.5)),
    url(dağ.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foot{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(48, 122, 130);
}

/* Head */

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: 20px 0px 0px 0px;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 20%;
}

.left a{
    text-decoration: none;
    color: white;
}

.navbar-logo{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 80%;
}

.right a{
    text-decoration: none;
    color: white;
}

.navbar-same{
    font-size: 16px;
    padding: 10px 17px;
}

.navbar-link-a{
    margin: 0px 0px 0px 16px;
}

.navbar-link{
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 15px 30px;
    background-color: rgb(26, 108, 122);
}

.navbar-link-active{
    background-color: rgb(16, 64, 73);
    transition: 0.2s linear;
}

.navbar-link-passive{
    background-color: rgb(26, 108, 122);
    transition: 0.2s linear;
}

.navscr{
    margin: 100px 0px 0px 0px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navscr-top{
    font-weight: bold;
    font-size: 25px;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.navscr-body h1{
    font-size: 46px;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 30px 0px 25px 0px;
}

.navscr-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    gap: 50px;
}

.navscr-links a{
    text-decoration: none;
    color: white;
}

.navscr-link-services{
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 16px 44px;
}

.navscr-link-about{
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 18px 46px;
}

.navscr-link-services{
    outline: solid 2px white;
}

.navscr-link-about{
    background-color: white;
    color: rgb(26, 108, 122);
}

.navscr-link-services-active{
    background-color: rgb(16, 64, 73);
    outline: solid 2px rgb(16, 64, 73);
    transition: 0.2s linear;
}

.navscr-link-services-passive{
    outline: solid 2px white;
    transition: 0.2s linear;
}

.navscr-link-about-active{
    background-color: rgb(16, 64, 73);
    color: rgb(255, 255, 255);
    transition: 0.2s linear;
}

.navscr-link-about-passive{
    background-color: white;
    color: rgb(26, 108, 122);
    transition: 0.2s linear;
}

/* Alt Bar */

.button-up{
    display: none;
}

.altbar-activate-button{
    display: none;
}

.altbar-activate-button i{
    font-size: 20px;
    color: white;
    float: right;
}

.altbar-deactivate-button i{
    font-size: 20px;
    color: white;
    float: right;
}

.altbar-activate-button i:hover{
    cursor: pointer;
}

.altbar-deactivate-button i:hover{
    cursor: pointer;
}

.alt-bar{
    z-index: 1;
    margin: 90px 0px 0px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.alt-bar-same{
    text-decoration: none;
    font-weight: 500;
    color: rgb(105, 105, 105);
    padding: 12px 12px;
}

.alt-bar-home,
.alt-bar-about,
.alt-bar-services{
    border-bottom: 1px solid rgb(189, 189, 189);
}

.alt-bar-active{
    color: rgb(16, 64, 73);
    transition: 0.2s linear;
}

.alt-bar-passive{
    color: rgb(105, 105, 105);
    transition: 0.2s linear;
}

.display-none{
    display: none;
}

/* Body */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.services-alt{
    margin: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.services-photos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 1090px;
}

.service-photo-1,
.service-photo-2,
.service-photo-3{
    width: 350px;
    height: auto;
}

.services-script{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1090px;
}

.services-script-left{
    width: 50%;
    text-transform: lowercase;
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 41, 59);
}

.services-script-right{
    width: 50%;
    color: rgb(0, 41, 59);
    letter-spacing: 1px;
    line-height: 20px;
}

.second-script{
    margin: 30px 0px 50px 0px;
}

.services-script-right a{
    text-decoration: none;
    color: rgb(0, 41, 59);
}

.services-link{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    display: inline; 
    padding: 14px 36px;
    outline: 2px solid rgb(0, 41, 59);
}

.services-link-active{
    outline: 2px solid rgb(16, 64, 73);
    background-color: rgb(16, 64, 73);
    color: rgb(255, 255, 255);
    transition: 0.2s linear;
}

.services-link-passive{
    outline: 2px solid rgb(0, 41, 59);
    background-color: white;
    color: rgb(0, 41, 59);
    transition: 0.2s linear;
}

.call{
    background-image:
    linear-gradient(rgba(55, 103, 126, 0.5),rgba(55, 103, 126, 0.5)),
    url(mountain222-6815304_1920.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.call-alt{
    margin: 150px 0px 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-top{
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.call-body{
    margin: 20px 0px 50px 0px;
    width: 600px;
    line-height: 24px;
}

.call a{
    text-decoration: none;
    color: white;
}

.call-link{
    padding: 14px 36px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    outline: 2px solid white;
    font-weight: bold;
}

.call-link-active{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    outline: 2px solid white;
    color: rgb(0, 41, 59);
    transition: 0.2s linear;
}

.call-link-passive{
    outline: 2px solid white;
    transition: 0.2s linear;
}

.examples{
    background-color: rgb(242, 248, 250);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.examples-alt{
    margin: 70px 0px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.examples-photos-top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.examples-photos-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.examples-photo-1,
.examples-photo-2,
.examples-photo-3,
.examples-photo-4,
.examples-photo-5,
.examples-photo-6{
    width: 350px;
    height: auto;
}

/* Foot */

.left-links{
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 30%;
}

.left-links a{
    text-decoration: none;
    color: rgb(48, 122, 130);
}

.left-links a div{
    font-weight: 600;
    padding: 10px 10px;
    text-transform: capitalize;
}

.center-logo{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.right-copyright{
    font-weight: 600;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-size: 15px;
}